<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <script defer src="https://unpkg.com/alpinejs@3.10.3/dist/cdn.min.js"></script>
</head>

<body>
    <!-- Create a button and 3 inputs
        
        - first input should become text of button
        - second input should become color of button 
        - third input should become button id 
    
    -->

    <div x-data="{text: '', color: '', id: ''}">
        <button x-text="text" :style="{backgroundColor: color}" :id="id"></button>
        <br>
        <input type="text" x-model="text" name="buttonText" placeholder="enter button name">
        <input type="text" x-model="color" name="colorText" placeholder="enter color name">
        <input type="text" x-model="id" name="idText" placeholder="enter id">
    </div>

</body>

</html>