<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>

<div>
    <label for="title">Title</label>
    <input id="title" name="title" type="text">
    <br>

    <label for="blog">Blog</label>
    <input id="blog" name="blog" type="text">

    <button hx-post="/api" hx-include="[name='blog'],[name='title']" hx-ext="json-enc" hx-target="#tasks">Add
        Blog</button>
</div>

<div id="tasks"></div>

<script src="https://unpkg.com/htmx.org@1.8.0"
    integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>