<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <script defer src="https://unpkg.com/alpinejs@3.10.3/dist/cdn.min.js"></script>
</head>

<body>
    <div x-data="{colors: ['red', 'green', 'blue']}">
        <template x-for="color in colors">
            <div style="width: 40px; height:40px" :style="{backgroundColor: color}"></div>
        </template>
    </div>
</body>

</html>