<!DOCTYPE html>
<html>

<head>
    <title>Microblog</title>
    <meta charset="UTF-8" />
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>

<body>
    <div x-data="{blogTitle: '', microBlog: ''}">
        <div>
            <label for="blogTitle">Title</label>
            <input x-model="blogTitle" id="blogTitle" type="text" name="blogTitle"
                placeholder="A sunny day in sydney...." />
            <br>
            <textarea x-model="microBlog" id="microBlog"></textarea>
        </div>
        <div>
            <p id="testBlogTitle" x-text="blogTitle"></p>
            <p id="testMicroBlog" x-text="microBlog"></p>
        </div>
    </div>
</body>

</html>